body {
margin: 0 2px;
    background-color: #010216;
    text-decoration-color: #ffffff;
    font-family: 'roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}

h3, h5 {
    font-weight: 300;
}

a img {
    width: 25px;
}

body h3 {
    text-align: center;
}

.barra {
height: 1px;
color: rgb(75, 182, 182);
background-color: rgb(75, 182, 182);
}

.card-body {
    background-color: #010216;
}

.fa-icons {
background-color: rgb(75, 182, 182);
    text-align: center;

}

.card1 .card {
    border: none;
    border-radius: none;
    border-top: none;
}

.espacio_grande {
    height: 2rem;
}

.celeste, .icons-section {
    background-color: rgb(75, 182, 182);
}

.icons-section ul li {
    display: inline-block;
}